wp-config.php
xmlrpc.php

wordpress/wp-admin/
wordpress/wp-includes/
wordpress/wp-content/uploads/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/upgrade/*
wordpress/wp-content/backup-db/*
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/cache/*
wordpress/wp-content/cache/supercache/*
wordpress/wp-content/w3tc/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt
*.log


